<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand">Navbar</a>
            <a class="navbar-brand " href="/api/v1/users">Home</a>
            <a class="navbar-brand" href="/api/v1/users/newUser">Add New User</a>
        </div>

        <form class="d-flex" role="search" method="GET" action="/api/v1/users">
            <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>